* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;

}

*::selection {
    color: rgb(5, 71, 97);
    background-color: rgb(194, 144, 63);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}


body {
    font-family: 'Quattrocento', sans-serif;
    background-color: rgb(231, 231, 231);
}


.landing {
    min-height: 500px;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
    margin-right: 50px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    z-index: 3;

}


nav .logo {
    font-family: 'Lobster Two', sans-serif;
    word-spacing: 3px;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 1.5rem;
    z-index: 1;
}

.nav-links, .ab-nav-links {
    display: flex;

}



.nav-links li, .ab-nav-links li {
    margin-right: 50px;
    font-size: 1.2rem;
    letter-spacing: 2px;
    transition: 0.3s ease-in;
}

.nav-links li:hover, .ab-nav-links li:hover {
    transition: 0.2s ease-in;
    transform: translateY(-20%);
}

.big-text {
    color:black;
    font-family: 'Lobster Two', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: 3.5rem;
}

.intro {
    background: rgb(5, 71, 97);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} 

.intro-text {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    text-align: center;
}

.slider {
    background: rgb(194, 144, 63);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
}

.hide {
    background: rgb(5, 71, 97);
    overflow: hidden;
}

.hide span {
    transform: translateY(100%);
    display: inline-block;
}

.banner {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -10;
}

.main-banner {
    width: 100%;
    height: 800px;
    background-size: cover;
    background-image: url('../images/main-header.jpeg');
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 4rem;
    font-family: 'Courgette', cursive;
    text-shadow: 3px 6px rgb(5, 71, 97);
    user-select: none;
    text-align: center;
}

.main-banner img {
    align-items: center;
    justify-content: center;
    width: 100%;
}

.banner img {
    align-items: center;
    justify-content: center;
    width: 90%;
    user-select: none;
}

.logo {
    margin-left: 50px;
}

.btn {
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid black;
    color: black;
    background-color: white;
    transition: 0.3s ease-in;
    margin-bottom: 30px;
    margin-top: 30px;
}

.btn:hover{
    color: white !important;
    background-color: black;
    transition: 0.3s ease-in;

}

.btn-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner > h6 {
    text-align: center;
}

.credits {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 15px;
    z-index: -1;
}


.credits a:hover {
    background-color: rgb(194, 144, 63);
    color: rgb(5, 71, 97);
}

.text-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 100px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 35px;
    z-index: auto;
}

footer {
    width: 100%;
    overflow: hidden;
    /* margin: 50px 50px 20px 20px; */
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    background-color: rgb(5, 71, 97);
}

footer img {
    width: 93%;
}

.text-content a:hover {
    color: rgb(5, 71, 97);
    background-color: rgb(194, 144, 63);
}

.burger, .ab-burger {display: none;}

.burger div, .ab-burger div{
    height: 2px;
    width: 25px;
    background-color: teal;
    margin: 5px 8px;
}

.push-down {
    position: relative;
    top: 100px;
    z-index: auto;
}

.roles li {
    list-style: square;
}

@media screen and (max-width: 800px) {
    .banner {
        height: 200px;
    }

    p {
        font-size: 1.2rem;
    }

    .text-content {
        margin: 0 20px;
    }

    footer {
        height: 70px;
    }
}

@media screen and (max-width: 400px) {
    .banner {
        height: 120px;
    }

    .text-content {
        font-size: 1rem;
        margin: 0 20px;
    }

    footer {
        height: 50px;
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .intro img {
        display: none;
    }

    .nav-links li, .ab-nav-links li {
        margin-right: 20px;
    }
}

@media screen and (max-width: 900px) {

    .burger, .ab-burger{
        display: block;
    }

    .burger:hover, .ab-burger:hover {
        cursor: pointer;
    }

    .nav-links, .ab-nav-links {
        transform: none;
        height: 90vh;
        width: 50%;
        position: absolute;
        right: 0px;
        top: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        color: black;
        transform: translateX(100%);
        transition: 0.3s ease;
    }

    .nav-links li:hover, .ab-nav-links li:hover {
        transform: none;
    }
    .nav-links li, .ab-nav-links li {
        margin: 30px 50px;
        overflow: auto;
        opacity: 0;
    }

    .main-banner h1 {
        font-size: 4rem;
    }
    .burger-nav-active, .ab-burger-nav-active {
        transform: translateX(0%);
        transition: 0.3s ease;
    }
}


@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: 0px;
    }
}
